<head>
  <!--<link rel="stylesheet" type="text/css" href="app.component.css">-->
</head>
<body>
  <div class="div1">
    <h3>Please provide the following inforamtion about your project</h3>
    <h5 class="required">All fields marked with a * are required!</h5>
    <form myForm="ngForm">
      <p>Name of your project:</p> <p  class="required">*</p>
      <input type="text" id="name" name="name" placeholder="e.g. My First App" ngModel required>

      <p>Short desrciption of your project:</p> <p class="required">*</p>
      <textarea id="description" name="description" class="description" placeholder="Type your description here..." required rows="6"></textarea>
      
      <p>What inspired the project?</p> <p class="required">*</p>
      <input type="text" id="inspiration" name="inspiration" required>

      <p>Choose a file to upload</p>
      <input type="file">

      <div class="div">
        <button type="submit" class="button1" >Submit</button>
    
        <br><br>
    
        <button type="reset" class="button2" name="clear">Clear & Exit</button>
      </div>
    </form>
  </div>
</body>